<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.IWeatherMapper">
	<!-- 날씨정보 등록하기 -->
	<insert id="InsertWeatherInfo" parameterType="WeatherDTO">
		INSERT INTO WEATHER_INFO
		(
		WEATHER_CHECK_TIME,
		SEQ,
		DAY_INFO,
		MORNING_RAIN,
		AFTERNOON_RAIN,
		HIGH_TEMP,
		LOW_TEMP,
		REG_ID,
		REG_DT,
		CHG_ID,
		CHG_DT
		)
		VALUES
		(
		#{weather_check_time},
		(SELECT IFNULL(MAX(A.SEQ),0)+1 FROM WEATHER_INFO A WHERE A.WEATHER_CHECK_TIME = #{weather_check_time}),
		#{day_info},
		#{morning_rain},
		#{afternoon_rain},
		#{high_temp},
		#{low_temp},
		#{reg_id},
		SYSDATE(),
		#{reg_id},
		SYSDATE()
		)
	</insert>

	<!-- 수집된 데이터 조회 -->
	<select id="getWeatherInfo" parameterType="WeatherDTO"
		resultType="WeatherDTO">
		SELECT
		WEATHER_CHECK_TIME,
		SEQ,
		DAY_INFO,
		MORNING_RAIN,
		AFTERNOON_RAIN,
		HIGH_TEMP,
		LOW_TEMP,
		REG_ID,
		REG_DT,
		CHG_ID,
		CHG_DT
		FROM
		WEATHER_INFO
		WHERE
		WEATHER_CHECK_TIME = #{weather_check_time}
	</select>
</mapper>